/* Header CSS */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #333;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: 0;
      background-color: white;
      width: 100%;
      z-index: 1;
      padding: 20px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .burger {
      display: flex;
    }
  }