/* Header CSS */
@import '../../../App.css';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-lighter);
    color: var(--med-green);
    padding: 10px 30px 15px 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 2px;
  
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links ul {
    list-style: none;
    display: flex;
}

  .nav-links a {
    text-decoration: none;
    color: var(--main-green);
    margin-right: 50px; 
    font-size: 20px;
}
  
  .burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 45px;
      left: 0;
      background-color: var(--med-green);
      width: 100%;
      height: 100%;
      z-index: 1;
      padding: 20px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
   
    }

    .nav-links ul {
      list-style: none;
      display: flex;
      
  }
  
    .nav-links a {
      text-decoration: none;
      color: var(--light-green);
      line-height: 2;
      
  }
  
    .nav-links.active {
      display: flex;
    }
  
    .burger {
      display: flex;
    }

    div.logo{
      margin-left: 0;
    }

    .header {
      padding: 5px 30px;
    }
  }