@import '../../../App.css';

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 85%;
    /* margin: -10 auto; */
    box-sizing: border-box;
    padding: 60px 0;
}

.about-container > div {
    flex: 1;
    padding: 50px;
}

.about-headshot {
    text-align: right;
}

.circle-image {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.about-blurb {
    padding: 20px 40px;
}

.about-blurb h2,
.about-blurb h3,
.about-blurb p {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}

.about-blurb h2 {
    font-size: 34px;
    font-weight: bold;
    color: var(--med-green);
}

.about-blurb h3 {
    font-size: 26px;
    font-weight: 400;
    color: var(--main-orange);
    margin-top: -10px;
}

.about-blurb p {
    font-size: 22px;
    color: var(--med-green);
    font-weight: 300;
}

.resume{
    background-color: var(--med-orange);
    border-radius: 15px;
    text-decoration: none;
    color: var(--white);
    padding: 10px;
}

button.resume{
    background-color: var(--light-green);
    border-radius: 15px;
    text-decoration: none;
    color: var(--main-green);
    padding: 10px;
    border: none;
}

.resume:hover{
    background-color: var(--med-green);
    color: var(--light-green);

}
@media screen and (max-width: 768px) {
    .about-container {
        flex-direction: column;
        padding: 50px 50px 80px 50px;
        max-width: 100%;
        
        /* text-align: center; */
    }

    .about-container > div {
        width: 100%;
        padding: 10px;
        margin-bottom: 0px;
    }
    
    .about-blurb {
        padding: 20px;
    }
}
