.skills-container{
    background-color: var(--dark-beige);
    text-align: center;
    padding: 80px;
    justify-content: center; 
    align-items: center;
    max-width: 100%; 
    margin: 0 auto;
}

.skills-imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    opacity: 75%;
    width: 80%; 
    margin: 0 auto; 
    padding-top: 40px;
}