:root {
  --navy: #0C2B47;
  --lime: #DAF743;
  --purple: #966B9D;
  --lilac: #E8D7EA;
  --white: #F5F3EF;
  --gray: #DEDCD9;
}

body {
  background-color: var(--white);
  font-family: 'MonteBold';
  color: var(--navy);
}

h1 {
  font-family: 'TropiLand';
  font-size: 34px;
  letter-spacing: 1.5px;
}

h1.small {
  font-family: 'TropiLand';
  font-size: 28px;
  letter-spacing: 1px;
}

h2 {
  font-family: 'MonteBold';
  font-size: 22px;
  letter-spacing: .5px;
}


h3 {
  font-family: 'Monte';
  font-size: 20px;
  letter-spacing: .5px;
}


p {
  font-family: 'Monte';
  font-size: 18px;
  letter-spacing: .5px;
}

